<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.fortrip.com.domain.member.model.mapper.CourseViewHistoryMapper">
  
  	<select id="selectRecentCourses" parameterType="long">
  		SELECT h.*, r.road_name, r.road_location
	    FROM COURSE_VIEW_HISTORY h
	    JOIN ROAD r ON h.COURSE_ID = r.ROAD_NO
	    WHERE h.MEMBER_NO = #{memberNo}
	    ORDER BY h.VIEW_DATE DESC
  	</select>
  	
  	<select id="checkExistiogView" parameterType="map" resultType="int">
  		SELECT COUNT(*)FROM COURSE_VIEW_HISTORY
  		WHERE MEMBER_NO = #{memberNo} AND COURSE_ID = #{courseId}
  	</select>
  	
  	<insert id="insertView">
  		INSERT INTO COURSE_VIEW_HISTORY(MEMBER_NO, COURSE_ID, COURSE_TYPE)
  		VALUES (#{memberNo}, #{courseId}, #{courseType})
  	</insert>
  	
  	<update id="updateViewDate" parameterType="map">
  		UPDATE COURSE_VIEW_HISTORY SET VIEW_DATE = SYSTIMESTAMP
  		WHERE MEMBER_NO = #{memberNo} AND COURSE_ID = #{courseId}
  	</update>
  </mapper>