<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.fortrip.com.domain.member.model.mapper.MemberMapper">
  
  	<select id="searchMemberId" resultType="Member">
        SELECT MEMBER_ID
        FROM MEMBER
        WHERE MEMBER_NAME = #{memberName} AND EMAIL = #{email}
    </select>
  
  	<update id="updateTempMemberPw">
  		UPDATE MEMBER
  		SET MEMBER_PW = #{encodedPw}
  		WHERE MEMBER_ID = #{memberId}
  	</update>
  
  	<select id="selectOneById" parameterType="String" resultType="Member">
  		SELECT * FROM MEMBER WHERE MEMBER_ID = #{memberId}
  	</select>
  	
  	<select id="selectOneBylogin" parameterType="String" resultType="Member">
		SELECT
	    MEMBER_NO AS memberNo,
            MEMBER_ID AS memberId,
            MEMBER_PW AS memberPw,
            MEMBER_NAME AS memberName,
            NICKNAME AS nickName,
            PHONE AS phone,
            BIRTH_DATE_YEAR AS birthDateYear,
            BIRTH_DATE_MON AS birthDateMon,
            BIRTH_DATE_DAY AS birthDateDay,
            EMAIL AS email,
            GENDER AS gender,
            ENROLL_DATE AS enrollDate,
            ADMIN_YN AS adminYn,
            TRIP_STYLE AS tripStyle,
            TENDENCY AS tendency,
            STATUS_YSN AS statusYsn
		FROM MEMBER 
		WHERE MEMBER_ID = #{memberId}
	</select>
  	  	
  	<insert id="insertMember">
  		INSERT INTO MEMBER VALUES(SEQ_MEMBER_NO.NEXTVAL, #{memberId}, #{memberPw}, #{memberName}, #{nickName}
  		, #{phone}, #{birthDateYear}, #{birthDateMon}, #{birthDateDay}, #{email}, #{gender}
  		, DEFAULT, DEFAULT, DEFAULT, DEFAULT, DEFAULT)
  	</insert>
  	
  	<update id="deleteMember">
    UPDATE MEMBER SET STATUS_YSN = 'N' WHERE MEMBER_ID = #{memberId}
	</update>
  	
  	<update id="updateMember">
        UPDATE MEMBER SET NICKNAME = #{nickName}, PHONE = #{phone}, EMAIL = #{email}, TENDENCY = #{tendency}
        WHERE MEMBER_ID = #{memberId}
    </update>
  	
  	
  	<update id="updateMemberPw">
  		UPDATE MEMBER SET MEMBER_PW = #{memberPw} WHERE MEMBER_ID = #{memberId}
  	</update>
  	
  	
  </mapper>