@charset "UTF-8";
/**************** 영역 css *********************/
.container {
    width: 100%;    
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

/* 헤더 */
#header {
    width: 100%;
    height: 80px;
    display: flex;
    padding: 15px;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

.logo {
    display: flex;
    align-items: center;
    width: 80%;
    margin-top: 6px;
    height: 100%;
}

.adminInfo {
    display: flex;
    align-items: center;
    width: 20%;
    height: 100%;
    justify-content: center;
    border-left: 1px solid #ccc;    
}

.adminInfo .adminName {
    padding: 10px;
    font-weight: bold;
}

/* 메인 */
#section {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex: 1;
    --border: 1px solid black;
}

/* 메인 - 네비 */
#section-main {
    flex: 1;
}

#section-aside {
	--background-color: #1A1A3A;
    width: 18%;
    border-right: 1px solid #ccc;
    display: flex;
    flex-shrink: 0; /* 너비가 줄어들지 않도록 고정 */
    padding: 20px;
    flex-direction: column;
    justify-content: space-between; /* ✅ 위-아래로 메뉴 분리 */
    flex-shrink: 0;
}

.side-menu { 
    width: 100%;
}

.menu-title {
    font-size: 12px;
    font-weight: 600;
    color: #666;
    margin-bottom: 10px;
    padding-top: 20px;
}

.menu-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 10px;
    border-radius: 8px;
    cursor: pointer;
    color: #333;
    font-size: 14px;
    transition: background 0.2s;
}

.side-menu .menu-item:nth-child(2) {
    background-image: linear-gradient(to top, #00c6fb 0%, #0796E5 100%);    
}


.menu-item:hover {
    background-color: #f3f4f6;
}

.menu-list {
    display: flex;
    align-items: center;
    gap: 10px;
}

.menu-list span:nth-last-child(1) {
    font-size: 14px;
    font-weight: 500;
}

.side-menu .material-symbols-outlined {
    font-size: 24px;
    color: #444;
}
/* 사이드바-세팅 */

.side-setting {
    padding-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#topbtn {
	display:flex;
	justify-content: center;
	align-items: center;
	padding:10px 20px;
	gap:5px;
	color:#fff;
	font-weight: 600;
	background-color: #5D78FF;
	border: none;
	font-size: 14px;
	border-radius: 8px;
	margin-bottom: 20px;
	transition: background-color 0.25s;
	cursor: pointer;
	
	&:hover {
		background-color: #556de5;
	}
}


/**************** 영역 css 끝 *********************/

/****************통계 개요*********************/
#dashboard, #user, #content, #board{
    display: flex;
    flex-direction: column;
    padding: 30px;

}

.dashboard-statistics, .dashboard-userInfo, .dashboard-content, .dashboard-borad {
    display: flex;
    flex-direction: column;
    justify-content: center;
	width: 100%;
    gap: 20px;
    margin-top: 30px;
    background-color: #fff;
}

/* 공통 */
.top-row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.top-row > div {
    flex: 1;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    padding: 20px;
}

.bottom-row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.bottom-row > div {
    flex: 1;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    padding: 20px;
}
/* 공통 끝 */

.dashboard-statistics .material-symbols-outlined {
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    border-radius: 10px;
}

.num {
    text-align: start;
    font-size: 20px;
    font-weight: 700;
    margin-top: 10px;
    display: block;
}

.label {
    text-align: start;
    font-size: 14px;
    color: #333;
    font-weight: 400;
    margin-top: 5px;
    display: block;
}

/***************인기 여행지 키워드, 회원 사입 현황****************************/
.hotkeyword #keywordChart, .userSignup #userChart {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 10px;
}

/***************회원관리*********************/
#userSetting {
    padding: 30px;
}

.dashboard-userInfo span {
    color: #fff;
    font-size: 20px;
}

.dashboard-userInfo .material-symbols-outlined {
    font-size: 40px;
}

.dashboard-userInfo .allUser {
    background: linear-gradient(to bottom, #5D78FF, #3a57cd);
}
.dashboard-userInfo .travelCourse {
    background: linear-gradient(to bottom, #30C971, #24a359);
}
.dashboard-userInfo .reviewCount {
    background: linear-gradient(to bottom, #FFBF00, #d19a01);
}

/************************멤버 검색 form*******************************/
#userSearchForm {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.search-container {
    position: relative; 
    width: 80%; 
    margin-right: 20px;
}

.search-container .material-symbols-outlined {
    position: absolute; 
    left: 15px; 
    top: 50%; 
    transform: translateY(-50%); 
    color: #999; 
    font-size: 22px; 
}

.search-container input {
    width: 100%; 
    height: 45px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding-left: 45px; 
}

/******** 회원 필터 버튼 ********/
#userfilter {
	  position: relative;
	  display: inline-block;
}

#btn {
	display:flex;
	justify-content:center;
	align-items: center;
    height: 45px;
    width: 70px;
	border: none;
    background-color: #5D78FF;
    border-radius: 10px;
    cursor: pointer;
    color:#fff;
    font-weight: 500;
    font-size:15px;
}
#btn .material-symbols-outlined {
	font-size:15px;
	gap:5px;
}

#userfilter-btn {
  position: absolute;
  top: 55px;
  left: 0px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 5px 0;
  display: none;
  flex-direction: column;
  width: 120px;
  z-index: 10;
}

.filter-btn {
  padding: 8px 12px;
  background: none;
  border: none;
  text-align: left;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.2s;
}

.filter-btn:hover {
  background-color: #f0f0f0;
}

.filter-btn.active {
  background-color: #007BFF;
  color: white;
}

/*****************회원 상태 표시****************/
.userInfo-container {
    --border: 1px solid black;
    width: 100%;
}



.userAdd {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
}

#userAdd-btn {
    width: 100px;
    height: 40px;
    color: #fff;
    background-color: #5D78FF;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

#userAdd-btn:hover {
    background-color: #556de5;
}

table {
  width: 100%;
  border-collapse: collapse; 
  font-size: 14px;
  text-align: left;
}

thead, tfoot {
  background-color: #f1f1f1;
  color: #666;
}

th, td {
  padding: 15px;
  border-bottom: 1px solid #dee2e6; 
  vertical-align: middle; /* 내용을 세로 중앙 정렬 */
}

/* 프로필 정보 스타일 */
.profile-cell {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* 프로필 이미지 */
.profile-cell img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

/* 프로필 정보(이름, 이메일) */
.profile-info {
  display: flex;
  flex-direction: column;
}

/* 프로필 이름 */
.profile-info .name {
  font-weight: bold;
  color: black;
  font-size: 14px;
}

/* 프로필 이메일 */
.profile-info .email {
  color: #666;
  font-size: 12px;
}

/* 상태 스타일 */
.status {
  padding: 4px 12px;
  border-radius: 15px;
  font-size: 10px;
  font-weight: bold;
}

/* 활성 */
.status.active { 
    background-color: #dcfce7; 
    color: #16a34a; 
    font-size: 12px;
}

/* 비활성 */
.status.inactive { 
    background-color: #fee2e2; 
    color: #dc2626; 
    font-size: 12px;
}
/* 정지 */
.status.stop { 
    background-color: rgb(252, 41, 47); 
    color: #fff; 
    font-size: 12px;
}
/* 관리자 */
.status.admin {
    background-color: #D6DCFA; 
    color: #5D78FF; 
    font-size: 12px;
}
/* 일반 회원 */
.status.user {
    background-color: #D9D9D9; 
    color: #666; 
    font-size: 12px;
}

/* 수정, 정지 */
.action-link {
	background-color: transparent;
    color: #fff;
    padding: 5px;
 	border: none;
 	font-weight: 500;
 	font-size: 14px;
 	cursor: pointer;
 	
 	&:hover {
 		text-decoration: underline;
 	}
}

.action-link:nth-child(1) {
	 color: #5D78FF; 
}

table .danger {
    color: red;
    background-color: transparent; 
} 

/* 테이블 tfooter 페이징네이션 */
tfoot tr {
    text-align: end;
}

.pagination a {
    background-color: #fff;
    width: 30px;
    height: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 10px;
    margin: 3px;
    text-decoration: none;
    color: #666;
    font-size: 12px;
}

/**********************************콘텐츠 관리******************************/
/* 공통 */
.travelCourse-setting, 
.travelInfoSetting, 
.board-wrapper,
.notice-wrapper,
.question-wrapper {
    border: 1px solid #ccc;
    border-radius: 12px;
    margin-bottom: 20px; 
}

.travelCourse-setting .setting-title, 
.travelInfoSetting .travel-setting-title,
.board-wrapper .board-title,
.question-wrapper .question-row {
    border-bottom: 1px solid #ccc;
    padding: 15px; 
    font-weight: 600;
}

.question-wrapper .question-row {
	display:flex;
	align-items: center;
	justify-content: space-between;	
}

/* 공통 끝 */

/********************************** 여행 코스 관리 input 부분 ******************************/
/* 여행 코스 */
.travelCourse-setting .search-course, 
.travelInfoSetting .travel-search-course,
.board-search-wrapper {
    overflow: hidden; /* 자식 요소가 넘치는 것을 방지하고 너비를 고정시킴 */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; /* Vertically aligns items */
    padding: 30px;
    position: relative; 
}

.travelCourse-setting input, 
.travelInfoSetting input,
.board-search-wrapper input {
    width: 60%;
    height: 45px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px 10px 10px 45px; 
    box-sizing: border-box;
}

.search-course .material-symbols-outlined, 
.travel-search-course .material-symbols-outlined,
.board-search-wrapper .material-symbols-outlined {
    position: absolute;
    left: 35px; 
    top: 50%; 
    transform: translateY(-50%);
    color: #999;
    font-size: 24px;
}

#courseAdd-btn, 
#travel-Add-btn,
#notice-Add-btn {
    padding: 5px 10px;
    border: none;
    background-color: #5D78FF;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    color: #fff;
}

/*******************여행, 관광지 관리 - 카드 부분******************/
.course-content, .travel-content {
	width: 1100px;
    display: flex;
    margin-bottom: 1px;
    flex-wrap: nowrap;
    gap: 20px;               /* 카드 사이 간격 */
    padding: 0px 20px;
    overflow-x: auto;        /* 가로 스크롤 */
    scroll-behavior: smooth; /* 부드러운 스크롤 */
}


/* 스크롤바 전체 영역 */
.course-content::-webkit-scrollbar,
.travel-content::-webkit-scrollbar {
    height: 8px;
}

/* 스크롤바 막대 배경 */
.course-content::-webkit-scrollbar-thumb,
.travel-content::-webkit-scrollbar-thumb {
    background-color: #5D78FF;  
    border-radius: 4px;      
}

/* 스크롤바 막대 안 배경 */
.course-content::-webkit-scrollbar-track,
.travel-content::-webkit-scrollbar-track  {
    background: #f1f1f1;
    border-radius: 4px;
}

.course-card, .travel-card{
    margin: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    background-color: #f1f1f1;
    width: 330px;     /* 카드의 고정 너비 (조절 가능) */
    min-width: 330px;
    flex-shrink: 0;   /* 카드가 찌그러지지 않도록 함 */
    transition: 0.2s;
    cursor: pointer;

    &:hover {
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        transform: translateY(-4px); /* 마우스 올리면 살짝 위로 */
    }
}

.card-img, .travel-card-img{
    height: 200px;
    background-image: url("../../img/admin/seoul-img.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
}

.course-card .course-title, .travel-card .travel-title {margin-bottom: 10px; font-size: 14px; font-weight: bold; padding: 5px 10px;}

.card-info, .travel-card-info {
    padding: 10px;
    font-size: 12px;
    font-weight: 500;
    color: #666;
}

.card-header, .travel-card-header{
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-bottom: 30px;
}

.card-item, .travel-card-item {
    font-size: 12px;
    display: flex;
    align-items: center;  /* 아이콘과 텍스트 세로 중앙 정렬 */
    gap: 3px;           /* 아이콘과 텍스트 사이 간격 */
}

.card-item .material-symbols-outlined,
.travel-card-item .material-symbols-outlined {font-size: 12px;}

.card-main, .travel-card-main {
    display: flex;
    justify-content: start;
    flex-direction: row;
    margin-bottom: 30px;
    gap: 15px;
}

.card-footer, .travel-card-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card-btn-row, .travel-card-btn-row {
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 10px;     /* 수정, 삭제 버튼 간격용 */
}

#course-modify-btn,
#travel-modify-btn 
{color: #5D78FF; text-decoration: none; font-size:12px; font-weight:500;}

#course-modify-btn:hover,
#travel-modify-btn:hover
{color: #027dbf;}

#course-delete-btn,
#travel-delete-btn
{color: #DC2626; border:none; font-size:12px; font-weight:500; cursor:pointer;}

#course-delete-btn:hover, 
#travel-delete-btn:hover
{color: #c42121;}

/*******************게시물 관리******************/
/*/ 간단 통계 부분 /*/
.board-chart {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.board-chart div {
    flex: 1;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    padding: 20px;
}

.board-chart .material-symbols-outlined {
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    border-radius: 10px;
}

/* 게시물 리스트 전체 */
.board-content, .notice-content,
.qnaBoard-content, .declaration-content {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
}

/* 개별 게시물 카드 */
.board-list {
    padding: 20px 30px;
    border-radius: 12px;
    margin-bottom: 15px;
    transition: 0.2s;
    cursor: pointer;
    
    &:hover {
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        transform: translateY(-4px); /* 마우스 올리면 살짝 위로 */
    }
}
/* 자주하는 질문 리스트 */

/* 헤더 (카테고리, 날짜, 버튼) */
.board-list-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.board-category {
    width: auto;
    margin-right: 10px;
}

.board-category p {
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    border-radius: 10px;
    padding: 3px 8px;
    text-align: center;
}

.board-date {
    color: #666;
    font-size: 12px;
    font-weight: 500;
}

.board-btn {
    margin-left: auto;
    display: flex;
    gap: 6px;
}

/* 버튼 */
.board-btn .edit-btn,
.board-btn .delete-btn {
    font-size: 12px;
    border: 1px solid;
    border-radius: 6px;
    padding: 3px 8px;
    background-color: transparent;
    cursor: pointer;
    transition: 0.2s;
}

.board-btn .edit-btn {
    color: #3b82f6;
    border-color: #3b82f6;
}

.board-btn .edit-btn:hover {
    background-color: #3b82f6;
    color: white;
}

.board-btn .delete-btn {
    color: #dc2626;
    border-color: #dc2626;
}

.board-btn .delete-btn:hover {
    background-color: #dc2626;
    color: white;
}

/* 제목 */
.board-list-title {
    margin-bottom: 8px;
}

.board-list-title span {
    font-size: 15px;
    font-weight: 700;
    color: #000;
}

/* 내용 */
.board-list-detail {
    font-size: 13px;
    font-weight: 400;
    color: #666;
    margin-bottom: 10px;
}

/* 푸터 */
.board-list-footer {
    display: flex;
    align-items: center;
    gap: 15px;
    color: #666;
    font-size: 12px;
}

.board-list-footer .material-symbols-outlined {
    font-size: 13px;
    vertical-align: middle;
}

/** 보드 페이징 **/
.board-pagination-wrapper{
    display: block;
    text-align: right;
    padding: 10px 20px 20px 0;
}

.board-pagination-wrapper .board-pagination a {
    background-color: #fff;
    width: 30px;
    height: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 10px;
    margin: 3px;
    text-decoration: none;
    color: #666;
    font-size: 12px;
}

/*****************자주하는 질문 카테고리*****************/
.question-category {
    padding: 10px 20px;
}

#question-Add-btn {
	padding: 5px 10px;
	font-weight: 600;	
	border: none;
	border-radius: 8px;	
	cursor:pointer;
	color: #fff;
	background-color: #5D78FF;
	font-size: 14px
}

.question-category input[type="radio"]{
    display: none;
}

.question-category ul {
    font-size: 12px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-weight: 500;
    gap: 30px;
}

.question-category li {
    list-style: none;
}

.question-category label{
    display: flex;
    padding: 5px 10px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    color: #000;
    background-color: #D9D9D9;
    cursor: pointer;
}

.question-category input[type="radio"]:checked + label{
    background: #5D78FF;
    color: #fff;
}

/******************자주하는 질문 리스트*****************************************/
/* 게시물 리스트 전체 */
.question-content {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
}

/* 개별 게시물 카드 */
.question-item {
    padding: 10px 30px;
    margin-bottom: 15px;
    border-bottom: 1px solid #ccc;
}

/* 헤더 */
.question-list-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    gap: 20px;
}

/* 버튼 */
.question-btn {
    display: flex;
    align-items: center;
}
.edit-btn {text-decoration: none;}
.question-btn .edit-btn,
.question-btn .delete-btn {
    font-size: 12px;
    border: 1px solid;
    border-radius: 6px;
    padding: 3px 8px;
    background-color: transparent;
    cursor: pointer;
    transition: 0.2s;
    margin-right: 10px;
}

.question-btn .edit-btn {
    color: #3b82f6;
    border-color: #3b82f6;
}

.question-btn .edit-btn:hover {
    background-color: #3b82f6;
    color: white;
}

.question-btn .delete-btn {
    color: #dc2626;
    border-color: #dc2626;
}

.question-btn .delete-btn:hover {
    background-color: #dc2626;
    color: white;
}

/* 제목 */
.question-title {
    font-size: 14px;
    font-weight: 700;
    color: #5D5A88;
}

/* 내용 */
.question-list-content {
    width: 50%;
    font-size: 12px;
    font-weight: 400;
    color: #9795B5;
    margin-bottom: 10px;
}

/** 페이징 **/

.qna-pagination-wrapper,
.notice-pagination-wrapper,
.report-pagination-wrapper {
	display: block;
    padding: 10px 20px 20px 0;
}

.qna-pagination,
.notice-pagination,
.pagination,
.report-pagination {
    display: flex;
    gap: 10px;
   	justify-content: flex-end;
}

.qna-pagination button,
.notice-pagination button,
.pagination button,
.report-pagination button {
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    color: #666;
    cursor: pointer;
}

.qna-pagination button.active,
.notice-pagination button.active,
.pagination button.active,
.report-pagination button.actice {
    background-color: #ccc;
    color: #fff;
}
