<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.fortrip.com.domain.board.free.model.mapper.BoardFreeMapper">
 	
 	<select id="selectOneByNo" resultType="BoardFree">
 		SELECT
 		    POST_NO, MEMBER_NO, POST_TITLE, POST_CONTENT,
 		    VIEW_COUNT, WRITE_DATE, UPDATE_DATE, DELETE_YN
 		FROM FREE
 		WHERE POST_NO = #{postNo} AND DELETE_YN = 'N' 
	</select>
	
    <select id="getTotalCount" resultType="_int">
        SELECT
            COUNT(*)
        FROM FREE
        WHERE DELETE_YN = 'N'
    </select>

    <select id="selectFreeList" resultType="BoardFree">
        SELECT *
        FROM (
            SELECT
                ROWNUM AS RNUM,
                F_SUB.*
            FROM (
                SELECT
                    F.POST_NO,
                    F.MEMBER_NO,
                    F.POST_TITLE,
                    M.NICKNAME AS POST_WRITER,
                    F.VIEW_COUNT,
                    F.WRITE_DATE,
                    
                    (SELECT COUNT(*) FROM BOARD_LIKE L
	                 WHERE L.BOARD_TYPE = 'FREE' AND L.BOARD_NO = F.POST_NO) AS likeCount,
	                 
	                (SELECT COUNT(*) FROM BOOKMARK B
	                 WHERE B.TARGET_TYPE = 'FREE' AND B.TARGET_NO = F.POST_NO) AS bookmarkCount,
	                 
	                (SELECT COUNT(*) FROM BOARD_COMMENT C
	                 WHERE C.BOARD_TYPE = 'FREE' AND C.BOARD_NO = F.POST_NO AND C.DELETE_YN = 'N') AS commentCount
                     
                FROM FREE F
                JOIN MEMBER M ON F.MEMBER_NO = M.MEMBER_NO
                WHERE F.DELETE_YN = 'N'
                ORDER BY F.POST_NO DESC
            ) F_SUB
        )
        WHERE RNUM BETWEEN #{offset} + 1 AND #{offset} + #{freeCountPerPage}
	</select>
	
	<insert id="insertFree" parameterType="com.fortrip.com.app.board.free.dto.BoardFreeAddRequest">
	    <selectKey keyProperty="postNo" resultType="_int" order="BEFORE">
	        SELECT SEQ_POST_NO.NEXTVAL FROM DUAL
	    </selectKey>
	    INSERT INTO FREE (
	        POST_NO,
	        POST_TITLE,
	        POST_CONTENT,
	        MEMBER_NO
	    ) VALUES (
	        #{postNo},
	        #{postTitle},
	        #{postContent},
	        #{memberNo}
	    )
	</insert>
	
	<update id="updateFree" parameterType="com.fortrip.com.app.board.free.dto.BoardFreeUpdateRequest">
	    UPDATE FREE
	    SET
	        POST_TITLE = #{postTitle},
	        POST_CONTENT = #{postContent},
	        UPDATE_DATE = SYSDATE -- 수정 시각 업데이트
	    WHERE POST_NO = #{postNo}
	</update>
	
	<update id="increaseViewCount">
        UPDATE FREE
        SET VIEW_COUNT = VIEW_COUNT + 1
        WHERE POST_NO = #{postNo}
    </update>
    
    
    <update id="deleteFree" parameterType="int">
    UPDATE FREE
    SET 
        DELETE_YN = 'Y',
        UPDATE_DATE = SYSDATE
    WHERE POST_NO = #{postNo}
	</update>
	
	<!-- 검색 포함된 전체 개수 -->
	<select id="getTotalCountWithSearch" parameterType="map" resultType="int">
	  SELECT COUNT(*)
	  FROM FREE F
	  JOIN MEMBER M ON F.MEMBER_NO = M.MEMBER_NO
	  <where>
	    <if test="searchKeyword != null and searchKeyword != ''">
	      <choose>
	        <when test="condition == 'title'">
	          F.POST_TITLE LIKE '%' || #{searchKeyword} || '%'
	        </when>
	        <when test="condition == 'content'">
	          F.POST_CONTENT LIKE '%' || #{searchKeyword} || '%'
	        </when>
	        <when test="condition == 'writer'">
	          M.NICKNAME LIKE '%' || #{searchKeyword} || '%'
	        </when>
	        <otherwise>
	          (F.POST_TITLE LIKE '%' || #{searchKeyword} || '%'
	           OR F.POST_CONTENT LIKE '%' || #{searchKeyword} || '%')
	           OR M.NICKNAME LIKE '%' || #{searchKeyword} || '%'
	        </otherwise>
	      </choose>
	    </if>
	  </where>
	</select>
	
	<!-- 검색 + 페이징 목록 -->
	<select id="searchFreeBoardList" parameterType="map" resultType="BoardFree">
	  SELECT *
	  FROM (
	    SELECT ROWNUM RNUM, A.*
	    FROM (
	      SELECT 
	        F.POST_NO,
	        F.MEMBER_NO,
	        F.POST_TITLE,
	        F.POST_CONTENT,
	        F.VIEW_COUNT,
	        F.WRITE_DATE,
	        M.NICKNAME AS POST_WRITER,
	        
   			(SELECT COUNT(*) FROM BOARD_LIKE L
            WHERE L.BOARD_TYPE = 'FREE' AND L.BOARD_NO = F.POST_NO) AS likeCount,
            
            (SELECT COUNT(*) FROM BOOKMARK B
            WHERE B.TARGET_TYPE = 'FREE' AND B.TARGET_NO = F.POST_NO) AS bookmarkCount,
            
            (SELECT COUNT(*) FROM BOARD_COMMENT C
            WHERE C.BOARD_TYPE = 'FREE' AND C.BOARD_NO = F.POST_NO AND C.DELETE_YN = 'N') AS commentCount
	      FROM FREE F
	      JOIN MEMBER M ON F.MEMBER_NO = M.MEMBER_NO
	      <where>
	        F.DELETE_YN = 'N'
	        <if test="searchKeyword != null and searchKeyword != ''">
	          <choose>
	            <when test="condition == 'title'">
	              AND F.POST_TITLE LIKE '%' || #{searchKeyword,jdbcType=VARCHAR} || '%'
	            </when>
	            <when test="condition == 'content'">
	              AND F.POST_CONTENT LIKE '%' || #{searchKeyword,jdbcType=VARCHAR} || '%'
	            </when>
	            <when test="condition == 'writer'">
	              AND M.NICKNAME LIKE '%' || #{searchKeyword,jdbcType=VARCHAR} || '%'
	            </when>
	            <otherwise>
	              AND (F.POST_TITLE LIKE '%' || #{searchKeyword,jdbcType=VARCHAR} || '%'
	                   OR F.POST_CONTENT LIKE '%' || #{searchKeyword,jdbcType=VARCHAR} || '%')
	                   OR M.NICKNAME LIKE '%' || #{searchKeyword,jdbcType=VARCHAR} || '%'
	            </otherwise>
	          </choose>
	        </if>
	      </where>
	      ORDER BY F.POST_NO DESC
	    ) A
	  )
	  WHERE RNUM BETWEEN (#{page}-1)*5+1 AND #{page}*5
	</select>
	
	<!-- 검색 키워드 로그 기록 -->
	<insert id="insertSearchKeyword" parameterType="string">
	  INSERT INTO SEARCH_LOG (LOG_ID, SEARCH_KEYWORD, SEARCH_DATE)
	  VALUES (SEQ_LOG_NO.NEXTVAL, #{searchKeyword}, SYSDATE)
	</insert>
	 	
 </mapper>