<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.fortrip.com.domain.member.model.mapper.MemberMapper">
  
  	<select id="selectOneById" parameterType="String" resultType="Member">
  		SELECT * FROM MEMBER WHERE MEMBER_ID = #{memberId}
  	</select>
  	
  	<select id="selectOneBylogin" parameterType="String" resultType="Member">
  		SELECT * FROM MEMBER WHERE MEMBER_ID = #{memberId}
  	</select>
  	  	
  	<insert id="insertMember">
  		INSERT INTO MEMBER VALUES(SEQ_MEMBER_NO.NEXTVAL, #{memberId}, #{memberPw}, #{memberName}, #{nickName}
  		, #{phone}, #{birthDateYear}, #{birthDateMon}, #{birthDateDay}, #{email}, #{gender}
  		, DEFAULT, DEFAULT, DEFAULT, DEFAULT, DEFAULT)
  	</insert>
  	
  	<delete id="deleteMember">
  		DELETE FROM MEMBER WHERE MEMBER_ID = #{memberId}
  	</delete>
  </mapper>