* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

#container {
	width: 1500px;
	margin: 0 auto;
}

/* #section { */
/* 	width: 1300px; */
/* 	margin: 0 auto; */
/* } */